.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.coin {
  text-align: center;
  display: inline-block;
  width: 30%;
  height: 20%;

}

body {
  background-color: #113A5D;
}
.btn{
  /* background-color: #113A5D; */
  
  padding: 0;
  border: none;
  background: none;
  width: 50%;
  height: 25%;
  margin: 0px;
  display: block;

  position: relative;
  left: 22%;

}
.btn1{
  width: 25%;
  height: 15%;
  /* margin: 30px; */
  display: block;
  text-align: center;
  position: relative;
  left: 40%;
}
h1{
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.img1{
  display: block;
  width: 120%;
  height: 40%;
  display: block;
  text-align: center;
  position: relative;
  left: 40%;
}
